version: "3"
services:
  portainer:
    network_mode: host
    image: portainer/portainer-ce:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
  registry:
    image: registry:2
    ports:
      - "5000:5000"

volumes:
  portainer_data: